<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
<body>
<div th:replace="/fragments/nav :: main-nav"></div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/admin/accountList}">계정관리</a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" th:href="@{/counsel/counselList}">상담관리</a>-->
<!--    </li>-->

    <li class="nav-item">
        <a class="nav-link" href="http://192.168.1.206/adminlist.asp">상담관리</a>
    </li>
</ul>

<div class="container d-flex justify-content-center">
    <div style="width:700px; margin-top: 30px;">
        <form class="form-horizontal" th:action="@{/accountRegister}" method="post">

            <div class="form-group">
                <label for="agentName" class="col-sm-2 control-label">상담원 이름</label>
                <div class="col-sm-10">
                    <input type="text" th:value="테스트" class="form-control input-large" name="agentName" id="agentName" placeholder="이름" required>
                </div>
            </div>

            <div class="form-group">
                <label for="agentId" class="col-sm-2 control-label">상담원 ID</label>
                <div class="col-sm-10">
                    <input type="text" th:value="test" class="form-control input-large" name="agentId" id="agentId" placeholder="아이디" required>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">비밀번호</label>
                <div class="col-sm-10">
                    <input type="password"th:value="123" class="form-control input-large" name="password" id="password" placeholder="Password" data-minlength="6" required>
                </div>
            </div>

            <div class="form-group">
                <label for="agentNum" class="col-sm-2 control-label">상담원 사번</label>
                <div class="col-sm-10">
                    <input type="number" th:value="789456" class="form-control input-large" name="agentNum" id="agentNum" placeholder="사원번호" required>
                </div>
            </div>

            <div class="form-group">
                <label for="part" class="col-sm-2 control-label">부서</label>
                <div class="col-sm-10">
                    <input type="text" th:value="개발팀" class="form-control input-large" name="part" id="part" placeholder="부서" required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="level" class="col-sm-2 control-label">권한</label>
                    <div class="col-sm-10" th:each="role: ${roleList}">
                        <input th:type="checkbox" name="level" id="level"
                               th:text="${role.roleName}"
                               th:value="${role.roleName}"/>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label for="agentCallNum" class="col-sm-2 control-label">전화번호</label>
               <div class="col-sm-10">
                    <input type="text" th:value="01034263345" class="form-control input-large" name="agentCallNum" id="agentCallNum" placeholder="전화번호" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="Submit" class="btn btn-dark btn-lg">계정생성</button>
                    <a class="btn btn-dark btn-lg" th:href="@{/admin/accountList}">목록 </a>
                </div>
            </div>

        </form>
    </div>
</div>
<footer class="text-center">
    <p>&copy; Infogence 2013</p>
</footer>
</body>

</html>