<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">

<body>
<div th:replace="/fragments/nav :: main-nav"></div>

<div class="col-xs-10">
    <br>
    <div>
        <h1>검색결과</h1>&nbsp&nbsp
    </div>
    <div>
        &nbsp
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            검색조건 입력
        </button>
        <a> 검색을 시작하시려면 펼쳐주세요. (기본검색 설정 : 당일 모든 통화)</a>
        <div class="container dropdown-menu">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <form class="form-menu" action="/admin/search" method="GET">
                <div class="row">&nbsp&nbsp&nbsp
                    <div class="col">
                        <label for="status">계정상태</label>
                        <input type="text" id="status" name="status" class="form-control" placeholder="계정상태">
                    </div>

                    <div class="col">&nbsp
                        <label for="agentNum">상담원사번</label>
                        <input type="text" id="agentNum" name="agentNum" class="form-control" placeholder="상담원사번">
                        <br>
                        <label for="agentName">상담원이름</label>
                        <input type="text" id="agentName" name="agentName" class="form-control" placeholder="상담원이름">
                        <br>
                        <label for="agentCallNum">상담원전화번호</label>
                        <input type="text" id="agentCallNum" name="agentCallNum" class="form-control" placeholder="상담원전화번호">
                    </div>

                    <div class="col">
                        <label for="part">부서</label>
                        <input type="text" id="part" name="part" class="form-control" placeholder="부서">
                        <br>
                        <label for="level">권한</label>
                        <input type="text" id="level" name="level" class="form-control" placeholder="권한">
                    </div>

                    <div class="col">
                        <label for="noConnectOneMonth">1개월이상 미접속</label>
                        <input type="text" id="noConnectOneMonth" name="noConnectOneMonth" class="form-control" placeholder="1개월 이상 미접속">
                        <br>
                        <label for="try3Password">비밀번호 3회 오류</label>
                        <input type="text" id="try3Password" name="try3Password" class="form-control" placeholder="상담원번호">
                    </div>&nbsp&nbsp&nbsp
                </div>
                <br>
                <button class="btn btn-primary col">Search!</button>
            </form>
        </div>
    </div>

    <br>
    <table class="table table-striped">
        <thead>
        <tr class="thead">
            <th scope="col">아이디</th>
            <th scope="col">사번</th>
            <th scope="col">이름</th>
            <th scope="col">부서</th>
            <th scope="col">권한</th>
            <th scope="col">업무상태</th>
            <th scope="col">전화번호</th>
            <th scope="col">마지막 접속 시간</th>
            <th scope="col">계정상태</th>
        </tr>
        </thead>

        <tbody>
        <tr class="link_btn hover" th:each="accounts: ${accountPage}">

            <td>
                <a th:href="@{'/admin/accountUpdate/' + ${accounts.id}}"><span
                        th:text="${accounts.agentId}">회원</span></a>
                <!--							<a><span th:text="${accounts.agentId}">회원</span></a>-->
            </td>

            <td th:text="${accounts.agentNum}">
            </td>

            <td class="date-time" style="text-align: left;" th:text="${accounts.agentName}">
            </td>

            <td class="date-time" style="text-align: left;" th:text="${accounts.part}">
            </td>

            <td style="text-align: left;">
							<span th:each="role,iter : ${accounts.userRoles}">
								<h6 th:text="${role.roleDesc}"></h6>
							</span>
            </td>

            <td class="date-time" style="text-align: left;" th:text="${accounts.status}">
            </td>

            <td class="date-time" style="text-align: left;" th:text="${accounts.agentCallNum}">
            </td>

            <td class="date-time" style="text-align: left;" th:text="${accounts.lastDate}">
            </td>

            <td class="date-time" style="text-align: left;" th:text="${accounts.delFlag}">
            </td>
        </tr>
        </tbody>

    </table>

    <div>
        &nbsp
        <a class="btn btn-primary" th:href="@{/admin/accountRegister}">회원 등록</a></p>
    </div>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
    });

</script>
</html>