<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/head :: head">
    <meta charset="UTF-8">
    <title>HelloWorld</title>
</head>
<body>
<div th:replace="/fragments/nav :: main-nav"></div>
<div class="container">

    <table id="dataTable" width="100%">
        <thead id="sql_result_head">
        <tr>
            <th>col1</th>
            <th>col2</th>
        </tr>
        </thead>
        <tfoot id="sql_result_foot">
        <tr>
            <th>col1</th>
            <th>col2</th>
        </tr>
        </tfoot>
    </table>
</div>

<script type="application/javascript">
    cols = JSON.parse('[{"data":"col1"}, {"data":"col2"}]');
    dt_result_table = $('#dataTable').dataTable({
        "serverSide": true,
        "processing": true,
        "destroy": true,
        "ajax": {
            "type": "GET",
            "url": "/api/query/result"
        },
        "columns": cols
    });
</script>
</body>
</html>