<!DOCTYPE html>
<html lang="en">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/head :: head"></head>
<body>
<div class="container" th:fragment="main-nav-tab">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/admin/accountList}">계정관리</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/counsel/counselList}">상담관리</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="http://192.168.1.206/adminlist.asp">상담관리2</a>
        </li>
    </ul>
</div>
</body>
</html>