<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
    <meta charset="UTF-8">
    <title>HelloWorld</title>
</head>
<body>
<div th:replace="/fragments/nav :: main-nav"></div>
<br/>
<div>
    <h1>상담관리</h1>
    &nbsp&nbsp
</div>
<div>
    &nbsp
    <div>
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            검색조건 입력
        </button>
        <a> 검색을 시작하시려면 펼쳐주세요. (기본검색 설정 : 당일 모든 통화)</a>
        <br>
        <br>

        <div class="container dropdown-menu">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <form class="form-menu" action="/admin/search" method="GET">
                <div class="row">&nbsp&nbsp&nbsp
                    <div class="col">
                        <label for="nowDay">당일</label>
                        <input type="text" id="nowDay" name="nowDay" class="form-control" placeholder="">
                        <br>
                        <label for="date">날짜</label>
                        <input type="text" id="date" name="date" class="form-control" placeholder="">
                        <br>
                        <label for="hour">시간</label>
                        <input type="text" id="hour" name="hour" class="form-control" placeholder="">
                    </div>

                    <div class="col">&nbsp
                        <label for="agentNum">상담원사번</label>
                        <input type="text" id="agentNum" name="agentNum" class="form-control" placeholder="상담원사번">
                        <br>
                        <label for="agentName">통화유형</label>
                        <input type="text" id="agentName" name="agentName" class="form-control" placeholder="통화유형">
                        <br>
                        <label for="agentCallNum">통화구분</label>
                        <input type="text" id="agentCallNum" name="agentCallNum" class="form-control"
                               placeholder="통화구분">
                    </div>

                    <div class="col">
                        <label for="custNum">고객번호</label>
                        <input type="text" id="custNum" name="custNum" class="form-control" placeholder="고객번호">
                        <br>
                        <label for="custName">고객이름</label>
                        <input type="text" id="custName" name="custName" class="form-control" placeholder="고객이름">
                        <br>
                        <label for="custCallNum">고객전화번호</label>
                        <input type="text" id="custCallNum" name="custCallNum" class="form-control" placeholder="고객전화번호">
                    </div>

                    <div class="col">
                        <label for="sentCall">발신번호</label>
                        <input type="text" id="sentCall" class="form-control"
                               placeholder="발신번호">
                        <br>
                        <label for="receptionCall">수신번호</label>
                        <input type="text" id="receptionCall" class="form-control"
                               placeholder="수신번호">
                    </div>
                    &nbsp&nbsp&nbsp
                </div>
                <br>
                <button class="btn btn-primary col" disabled>Search!</button>
            </form>
        </div>
    </div>
</div>


<table class="table table-hover">
    <thead>
    <tr class="thead">
        <th scope="col">청취</th>
        <th scope="col">상담원사번</th>
        <th scope="col">상담원이름</th>
        <th scope="col">고객이름</th>
        <th scope="col">고객번호</th>
        <th scope="col">통화유형</th>
        <th scope="col">통화구분</th>
        <th scope="col">전화번호</th>
        <th scope="col">통화시간</th>
        <th scope="col">통화타임</th>
        <th scope="col">링타임</th>
        <th scope="col">발신번호</th>
        <th scope="col">수신번호</th>
        <th scope="col">녹취키</th>
    </tr>
    </thead>

    <tbody>
    <tr class="link_btn hover" th:each="counsel: ${counsel}">

        <td>▶
        </td>

        <td th:text="${counsel.agentNum}">66666
        </td>

<!--        <td th:text="${counsel.agentName}">김상담-->
<!--        </td>-->

        <td>김상담
        </td>

        <td th:text="${counsel.custName}">김고객
        </td>

        <td th:text="${counsel.custNum}">77777
        </td>

        <td>발신
        </td>

        <td>미접촉
        </td>

        <td>01077777777
        </td>

        <td>2021-03-03 오후 5:29
        </td>

        <td>15
        </td>

        <td>5
        </td>

        <td>01066666666
        </td>

        <td>01077777777
        </td>

        <td th:text="${counsel.recNum}">20210303172941359_01077777777
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>

